

html, body {
    margin:0;
    padding:0;
}

.contenedor 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 95vw;
    overflow: hidden;
}

.login
{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color:rgb(235, 233, 233);
    height: 40vh;
    width: 25vw;
    padding: 5vh 5vw;
    border-radius: 10px;

}

input
{
    border-radius: 8px;
    height: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 5vh;
    border: none;
}

label
{
    margin-bottom: 1vh;
    font-size: 1.2vw;
}

button
{
    width: 10vw;
    height: 8vh;
    border-radius: 10px;
    border: none;
    background-color:  rgb(54, 9, 202);
    color: white;
    
}

.inputbox
{
    display: plex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}